<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeisWide_Surfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> C:\Coding\VSEGEI\li\SeisWide-Surfer\App.config
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SeisWide_Surfer.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Delta" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="SingleFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>&lt;Укажите_каталог&gt;</value>
            </setting>
            <setting name="UseSeiSeeHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S1_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="S1_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="S2_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="S2_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="N1_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="N1_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="L" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PathToIn" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToSW" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToSeiSee" serializeAs="String">
                <value />
            </setting>
            <setting name="Correct_Text" serializeAs="String">
                <value>Записать привязку к трассе, взятую из заголовка SeisWide</value>
            </setting>
            <setting name="Correct_All_Text" serializeAs="String">
                <value> Для каждой пары файлов "заголовок - .in" записать привязку к трассе</value>
            </setting>
        </SeisWide_Surfer.Properties.Settings>
    </userSettings>
</configuration>